//  https://coolors.co/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0
$color-extra-light-pink: #ffe5f1;
$color-light-pink: #ff53a0;
$color-pink: #f72585;
$color-pink-purple: #b5179e;
$color-purple: #7209b7;
$color-light-gray: #eff4f5;
$color-medium-gray: #dae0e2;
$color-dark-gray: #bdc2c4;
